@model WikiDafoos.Models.Article

@{
    var categories = ViewBag.Categories as List<WikiDafoos.Models.Category>;
}

<div class="container">
    <form asp-controller="Article" asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Content" class="form-label"></label>
            <textarea asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Image" class="form-label"></label>
            <input asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

        <div class="form-check mb-3">
            <input asp-for="IsPrivate" class="form-check-input" />
            <label asp-for="IsPrivate" class="form-check-label"></label>
        </div>

        <div class="form-check mb-3">
            <input asp-for="IsSuggested" class="form-check-input" />
            <label asp-for="IsSuggested" class="form-check-label"></label>
        </div>

        <div class="mb-3">
            <label  class="form-label">Tags (comma separated)</label>
            <input type="text" name="TagsInput" class="form-control" placeholder="ارتش, جنگ, دافوس" />
        </div>

        <div class="mb-3">
            <label class="form-label">Category</label>
            <select asp-for="Category.Id" class="form-select">
                <option value="">Select a category...</option>
                @foreach (var category in categories ?? new List<WikiDafoos.Models.Category>())
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <span asp-validation-for="Category.Id" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success mt-3">Save</button>
    </form>
</div>
