@page


<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4 text-center mb-4">درباره ویکی دافوس</h1>

            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">اهداف</h2>
                    <p class="card-text">دانش نامه اختصاصی ویکی دافوس با هدف پاسخگویی به نیاز محققین حوزه های نظامی و اغنای دانش عمومی سایر اقشار جامعه توسط پژوهشکده سایبرپلتیک دانشگاه فرماندهی و ستاد آجا (دافوس) در سال 1402 ایجاد شده است. عمده مقالات این دانش نامه به موضوعات حوزه های نظامی و دفاع مقدس می پردازد و محتوای اراده شده در این مقالات پس از بررسی متخصصین و اساتید دانشگاه دافوس در اختیار کاربران قرار می گیرد.</p>
                    
                </div>
            </div>

            

            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">اساسنامه</h2>
                    <p>با عنایت به اهداف دانشگاه ستاد و فرماندهی آجا (دافوس) و در راستای اغنای دانش و آگاهی عمومی در حوزه های نظامی، دانش نامه برخط «ویکی دافوس» بنا شده است.</p>
                    <ul>
                        <li>
                            ماده 1: نام فارسی و لاتین: ویکی دافوس – WikiDafoos
                        </li>
                        <li>
                            ماده 2: اهداف: ترویج دانش نظامی و ارزش های دفاع مقدس برای محققین و مخاطبین عمومی
                        </li>
                        <li>
                            ماده 3: نشانی درگاه: wikidafoos.ir
                        </li>
                        <li>
                            ماده 4: زبان اصلی: فارسی
                        </li>
                        <li>
                            ماده 5: جامعه مخاطبین: محققین حوزه های دفاعی و عموم مردم
                        </li>
                        <li>
                            ماده 6: موضوعات تحت پوشش: چهره ها، رویداد ها و مفاهیم نظامی و دفاع مقدس
                        </li>
                        <li>
                            ماده 7: انواع محتوای ارائه شده: متن، تصویر و ویدیو (با محدودیت زمانی و حجمی)
                        </li>
                        <li>
                            ماده 8: مراجع محتوا: مراجع محتوای ارائه شده در این دانش نامه، اساتید دانشگاه فرماندهی و ستاد آجا (دافوس)، کتب، مقالات و ... است.
                        </li>
                        <li>
                            ماده 9: نحوه اغنای دانش نامه: مقالات توسط اساتید برجسته دانشگاه ستاد و فرماندهی آجا تنظیم و بارگذاری می شود.
                        </li>
                        <li>
                            ماده 10: صحت سنجی: مقالات و نگارشهای بارگذاری شده تا زمان انجام صحت سنجی، اصلاح و تایید ممیزان، به کاربران عمومی نمایش داده نخواهد شد.
                        </li>
                        <li>
                            ماده 11: مدیران: وظیفه نظارت فنی و محتوایی این دانش نامه بر عهده 1 یا 2 مدیر اصلی است.
                        </li>
                        <li>
                            ماده 12: مالکیت معنوی: مالکیت معنوی تمامی محتوای ارائه شده در این دانش نامه برای مالکان محتوا محفوظ است. مالکیت معنوی به دو صورت «پدید آورنده» و «گرد آورنده» تقسیم بندی می شود. در صورتی که محتوای تولید شده، اصالتاً توسط نویسنده تولید شده باشد، مالکیت به صورت «پدید آورنده» و در صورتی که محتوای ارائه شده، تنها توسط نویسنده از سایر منابع گردآوری شده باشد، مالکیت به صورت «گردآورنده» تعلق خواهد گرفت. طبعاً در این نوع از محتوا، ارائه مرجع مناسب الزامی است.
                        </li>

                    </ul>
                    <a asp-controller="Home" asp-action="Contact" class="btn btn-primary">ارتباط با ما</a>
                </div>
            </div>
        </div>
    </div>
</div>